<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">
        <h1>Add new bot</h1>
        <p>To get started, add the one of the following bots into your chat.</p>
        <a href="https://t.me/chats_todo_bot" target="_blank">Telegram</a>
        <a href="https://discordapp.com/users/1210996330588020827" target="_blank">Discord</a>
        <button _="on click trigger closeModal">Close</button>
    </div>
</div>
