<div id="tab-panel" hx-get="/htmx/homeCards" hx-swap="outerHTML" hx-target="this" role="tabpanel" hx-trigger="">
    <div hx-disable>
        <div class="grid">
            <div class="block">
                <div class="droppable draggable-dropzone--occupied">
                    <div class="draggable"></div>
                </div>
            </div>
            <div class="block">
                <div class="droppable"></div>
            </div>
        </div>
    </div>
    <script type="module" src="/static/drag.js">
    </script>
    <style>
        .grid {
            display: grid;
            grid-template: 150px 150px 150px / 150px 150px 150px 150px;
            grid-gap: 10px;
            background-color: #ffffff;
            padding: 10px;
        }

        .draggable {
            background-color: #ff3946;
            box-shadow: 10px 10px 10px #7777;
        }

        .draggable,
        .droppable.draggable-dropzone--occupied {
            width: 100px;
            height: 100px;
        }

        .droppable {
            width: 100px;
            height: 100px;
            border: solid;
            display: flex;
        }
    </style>
</div>
