<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">
        <h1>Add new bot</h1>
        <p>To get started, add the one of the following bots into your chat.</p>

        <div class="bot-modal-button" onclick="window.open('https://t.me/chats_todo_bot', '_blank')">
            <img src="/static/telegram.png" height="30" width="30" />
            <h2 class="bot-modal-name">Telegram</h2>
        </div>
        <div class="bot-modal-button"
            onclick="window.open('https://discordapp.com/users/1210996330588020827', '_blank')">
            <img src="/static/discord.png" height="30" width="30" />
            <h2 class="bot-modal-name">Discord</h2>
        </div>
        <button _="on click trigger closeModal">Close</button>
    </div>
</div>
