<p class="dots">...</p>
<div class="card-header">
    <div style="flex: 1;"></div>
    <h3 class="card-title">Events</h3>
    <div class="export-div">
        <img width="25" height="25" src="/static/exportYellow.png" />
    </div>
</div>

<div class="card-content">
    {{ range .events }}

    <div class="card-block">
        <div class="card-container">
            <p class="card-block-point">{{ .Title }}</p>
            <p class="card-block-date">{{ .Date }}</p>
            <p class="card-block-notes">{{ .Description }}</p>
        </div>
        <div class="edit-container" onclick="console.log('edit')">
            <img src="/static/editYellow.png" width="25" height="25" />
        </div>
    </div>



    {{ else }}

    <span>No events.</span>

    {{ end }}

</div>
