<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">

        <form id="modal-event-form" class="mui-form" hx-put="/htmx/home/events" hx-swap="outerhtml"
            hx-target="#event-{{ .Id }}">
            <legend>Edit Event</legend>
            <input name="id" type="hidden" value="{{ .Id }}"></input>

            <div class="mui-textfield mui-textfield--float-label">
                <input name="value" type="text" value="{{ .Value }}"></input>
                <label>Title</label>
            </div>
            <div class="mui-textfield mui-textfield--float-label">
                <input name="location" type="text" value="{{ .Location }}"></input>
                <label>Location</label>
            </div>
            <div class="mui-textfield mui-textfield--float-label">
                <input id="modal-event-date-start" name="dateStart" type="datetime-local"
                    value="{{ .HTMLDateStart }}"></input>
                <label>Start date</label>
            </div>
            <div class="mui-textfield mui-textfield--float-label">
                <input id="modal-event-date-end" name="dateEnd" type="datetime-local"
                    value="{{ .HTMLDateEnd }}"></input>
                <label>End date</label>
            </div>
            <div class="mui-textfield mui-textfield--float-label">
                <input id="modal-event-tags" name="tags" type="text"
                    value="{{ .DisplayTags }}"></input>
                <label>Tags</label>
            </div>

            <p id="modal-event-date-warning" style="display:none;">End date should be after start date!</p>

            {{ .csrfField }}

            <button id="modal-event-submit-button" _="on click trigger closeModal">Save</button>

            <script>
                var modalEventDateStart = document.getElementById("modal-event-date-start");
                var modalEventDateEnd = document.getElementById("modal-event-date-end");
                var modalEventSubmitButton = document.getElementById("modal-event-submit-button");
                var modalEventDateWarning = document.getElementById("modal-event-date-warning");

                modalEventDateStart.addEventListener("input", function () {
                    const eventStartDate = new Date(modalEventDateStart.value)
                    const eventEndDate = new Date(modalEventDateEnd.value)
                    console.log(eventStartDate)
                    console.log(eventEndDate)
                    modalEventSubmitButton.disabled = eventEndDate <= eventStartDate;
                    modalEventDateWarning.style.display =
                        eventEndDate <= eventStartDate ? "block" : "none";
                });

                modalEventDateEnd.addEventListener("input", function () {
                    const eventStartDate = new Date(modalEventDateStart.value)
                    const eventEndDate = new Date(modalEventDateEnd.value)
                    console.log(eventStartDate)
                    console.log(eventEndDate)
                    modalEventSubmitButton.disabled = eventEndDate <= eventStartDate;
                    modalEventDateWarning.style.display =
                        eventEndDate <= eventStartDate ? "block" : "none";
                });

            </script>
        </form>
    </div>
</div>
