<div class="card-header">
    <div style="flex:1;">
        <select id="events-filter" class="card-filter">
            <option onclick="filterEvents()"></option>
            {{ range .eventTags }}
            <option onclick="filterEvents('{{ . }}')">{{ . }}</option>
            {{ end }}
        </select>
    </div>
    <h3 class="card-title">Events</h3>
    <form class="export-div" hx-post="/htmx/home/events/export" hx-target="body" hx-swap="beforeend">
        {{ range .events }}

        <input type="hidden" name="value-{{ .Id }}" value="{{ .Value }}">
        <input type="hidden" name="location-{{ .Id }}" value="{{ .Location }}">
        <input type="hidden" name="startDate-{{ .Id }}" value="{{ .HTMLDateStart }}">
        <input type="hidden" name="prettyStart-{{ .Id }}" value="{{ .DisplayDateStart }}">
        <input type="hidden" name="endDate-{{ .Id }}" value="{{ .HTMLDateEnd }}">
        <input type="hidden" name="prettyEnd-{{ .Id }}" value="{{ .DisplayDateEnd }}">

        {{ end }}

        <button type="submit">
            <img width="25" height="25" src="/static/exportYellow.png" />
        </button>
        {{ .csrfField }}
    </form>

</div>

<div id="event-card-content" class="card-content">
    {{ range .events }}

    <div id="event-{{ .Id }}" class="card-block" data-tags="{{ .DisplayTags }}">
        <form hx-post="/htmx/home/events" hx-target="body" hx-swap="beforeend">
            <input type="hidden" name="id" value="{{ .Id }}" required></input>
            <div class="card-container">
                <input type="text" name="value" value="{{ .Value }}" class="card-block-point" readonly required></input>

                <div class="card-date-container">
                    <label>Start:</label>
                    <b class="card-block-date">{{ .DisplayDateStart }}</b>
                </div>

                <div class="card-date-container">
                    <label>End:&nbsp;&nbsp;</label>
                    <b class="card-block-date">{{ .DisplayDateEnd }}</b>
                </div>

                {{ if .Location }}

                <input type="text" name="location" value="{{ .Location }}" class="card-block-notes" readonly
                    required></input>

                {{ end }}

                <input type="text" name="tags" value="{{ .DisplayTags }}" class="card-block-notes" readonly
                    required></input>

                <input type="hidden" name="localDateStart" value="{{ .HTMLDateStart }}" required></input>
                <input type="hidden" name="localDateEnd" value="{{ .HTMLDateEnd }}" required></input>
            </div>

            <div class="edit-container">
                <button type="submit">
                    <img src="/static/editYellow.png" width="25" height="25" />
                </button>
            </div>
            {{ $.csrfField }}
        </form>
    </div>

    {{ else }}

    <span>No events.</span>

    {{ end }}

</div>


<script>
    var exportYellow = document.getElementById("export-yellow");
    var exportBlue = document.getElementById("export-blue");

    function toggleExport() {
        if (exportYellow.style.display === "block") {
            exportYellow.style.display = "none";
            exportBlue.style.display = "block";
        } else {
            exportBlue.style.display = "none";
            exportYellow.style.display = "block";
        }
    }

    var eventCardContent = document.getElementById("event-card-content");

    function filterEvents(target) {
        if (!target) {
            for (var i = 0; i < eventCardContent.children.length; i++) {
                eventCardContent.children[i].style.display = "block";
            }
            return
        }
        for (var i = 0; i < eventCardContent.children.length; i++) {
            eventCardContent.children[i].style.display =
                eventCardContent.children[i].getAttribute("data-tags").includes(target) ?
                    "block" : "none";
        }
    }
</script>
