<p class="dots">...</p>
<div class="card-header">
    <div style="flex: 1;"></div>
    <h3 class="card-title">Events</h3>
    <div class="export-div">
        <img width="25" height="25" src="/static/exportYellow.png" />
    </div>
</div>

<div class="card-content">
    {{ range .events }}

    <div id="event-{{ .Id }}" class="card-block" data-todoid="{{ .Id }}">

        <div class="card-container" data-hxpost="/htmx/home/eventCard" data-type="#event-">
            <p name="title" class="card-block-point">{{ .Title }}</p>
            <p name="date" class="card-block-date">{{ .Date }}</p>
            <p name="description" class="card-block-notes">{{ .Description }}</p>
        </div>
        <div class="edit-container" onclick="getEditable(this)">
            <img src="/static/editYellow.png" width="25" height="25" />
        </div>
    </div>

    {{ else }}

    <span>No events.</span>

    {{ end }}

</div>
