<div id="tab-panel">
    <div id="groups-panel">
        <div id="groups-header">
            <input id="groups-search" name="search" class="search-box" type="search" placeholder="Search for groups"
                hx-post="/htmx/groups" hx-headers='{ "X-CSRF-Token": "{{ .csrfToken }}" }'
                hx-target="#groups-search-results" hx-swap="innerHTML"
                hx-trigger="input changed delay:500ms, search, load">
        </div>

        <table id="groups-table">
            <thead id="groups-table-header">
                <tr class="groups-row">
                    <th class="groups-table-header-row">Name</th>
                    <th class="groups-table-header-row">Platform</th>
                </tr>
            </thead>

            <tbody id="groups-search-results" class="groups-table-body">
            </tbody>
        </table>
    </div>

</div>
