<div id="tab-panel" role="tabpanel">

    <div id="task-card" class="card">
        <p class="dots">...</p>

        <div id="task-card-container" class="card-card" hx-get="/htmx/home/tasks" hx-target="this" hx-swap="innerHTML"
            hx-trigger="reloadData from:body" hxindicator="#task-card-indicator">

            <div class="card-header">
                <div class="card-filter-button" disabled>
                    <select class="card-filter">
                        <option></option>
                    </select>
                </div>

                <h3 class="card-title">Tasks</h3>

                <div class="export-div">
                    <button class="card-export-button" disabled>
                        <img width="25" height="25" src="/static/exportYellow.png" />
                    </button>
                </div>
            </div>

            <div id="task-card-content" class="card-content">
                <div class="card-indicator">
                    <img id="event-card-indicator" src="/static/SVG-Loaders-master/svg-loaders/bars.svg" height="30"
                        width="30" />
                </div>
            </div>

        </div>

    </div>


    <div id="event-card" class="card">
        <p class="dots">...</p>
        <div id="event-card-container" class="card-card" hx-get="/htmx/home/events" hx-target="this" hx-swap="innerHTML"
            hx-trigger="reloadData from:body" hxindicator="#event-card-indicator">

            <div class="card-header">
                <div class="card-filter-button" disabled>
                    <select class="card-filter">
                        <option></option>
                    </select>
                </div>

                <h3 class="card-title">Events</h3>

                <div class="export-div">
                    <button class="card-export-button" disabled>
                        <img width="25" height="25" src="/static/exportYellow.png" />
                    </button>
                </div>

            </div>

            <div id="event-card-content" class="card-content">
                <div class="card-indicator">
                    <img id="event-card-indicator" src="/static/SVG-Loaders-master/svg-loaders/bars.svg" height="30"
                        width="30" />
                </div>
            </div>

        </div>
    </div>

    <div id="summary-card" class="card">
        <p class="dots">...</p>
        <div id="summary-card-container" class="card-card" hx-get="/htmx/home/summaries" hx-target="this"
            hx-swap="innerHTML" hx-trigger="reloadData from:body" hxindicator="#event-card-indicator">

            <div class="card-header">
                <div class="card-filter-button" disabled>
                    <select class="card-filter">
                        <option></option>
                    </select>
                </div>

                <h3 class="card-title">Summary</h3>

                <div class="export-div">
                    <button class="card-export-button" disabled>
                        <img width="25" height="25" src="/static/exportYellow.png" />
                    </button>
                </div>
            </div>

            <div id="summary-card-content" class="card-content">
                <div class="card-indicator">
                    <img id="summary-card-indicator" src="/static/SVG-Loaders-master/svg-loaders/bars.svg" height="30"
                        width="30" />
                </div>
            </div>

        </div>

    </div>

    <!--div id="summary-card" class="card">
        <p class="dots">...</p>
        <div class="card-header">
            <div style="flex: 1;"></div>
            <h3 class="card-title">Summary</h3>
            <div class="export-div">
                <img width="25" height="25" src="/static/exportYellow.png" />
            </div>
        </div>

        <div class="card-content">

        </div>
    </div-->
</div>