<div id="tab-panel" role="tabpanel">
    <div id="settings-panel">
        <h3 id="settings-title">Settings</h3>

        <h4 class="settings-subtitle">General</h4>
        <div class="settings-block">
            <p class="settings-name">Dark Mode</p>
            <!--
            <label class="settings-switch-container">
                <input type="checkbox">
                <span class="settings-switch"></span>
            </label>
            -->
            <p class="settings-active">Switch</p>
        </div>
        <h4 class="settings-subtitle">Accounts</h4>
        <div class="settings-block">
            <p class="settings-name">Telegram</p>
            <p class="settings-active">Linked</p>
        </div>
        <div class="settings-block">
            <p class="settings-name">Discord</p>
            <p class="settings-inactive">Link Now</p>
        </div>

        <h4 class="settings-subtitle">Tasks</h4>
        <div class="settings-block">
            <p class="settings-name">Google Tasks</p>
            <p class="settings-active">Linked</p>
        </div>

        <h4 class="settings-subtitle">Events</h4>
        <div class="settings-block">
            <p class="settings-name">Google Calendar</p>
            <p class="settings-active">Linked</p>
        </div>

    </div>
</div>
</div>
