<div id="tab-panel" role="tabpanel">
    <div id="settings-panel">
        <h3 id="settings-title">Settings</h3>

        <h4 class="settings-subtitle">Accounts</h4>

        {{ range .platformEntries }}

        <div class="settings-block">
            <div class="settings-icon-container">
                <p class="settings-name">{{ .Platform }}</p>
                <img src="/static/{{ .Platform }}.png" height="30" width="30" />
            </div>

            <p class="settings-status settings-active">Linked</p>
        </div>

        {{ end }}


        <h4 class="settings-subtitle">Tasks</h4>

        <div class="settings-block">

            <div class="settings-icon-container">
                <p class="settings-name">Google Tasks</p>
                <img src="/static/gtasks.png" height="30" width="30" />
            </div>
            <p class="settings-status settings-active">Linked</p>
        </div>

        <h4 class="settings-subtitle">Events</h4>

        <div class="settings-block">
            <div class="settings-icon-container">
                <p class="settings-name">Google Calendar</p>
                <img src="/static/gcalendar.png" height="30" width="30" />
            </div>
            <p class="settings-status settings-active">Linked</p>
        </div>

    </div>
</div>
