<div id="tab-panel" role="tabpanel">
    <div id="settings-panel">
        <h3 id="settings-title">Settings</h3>

        <h4 class="settings-subtitle">Accounts</h4>
        <div class="settings-block">
            <div>
                <p class="settings-name">Telegram</p>
                <img src="/static/telegram.png" height="30" width="30" />
            </div>

            <p class="settings-active">Linked</p>
        </div>
        <div class="settings-block">
            <div>
                <p class="settings-name">Discord</p>
                <img src="/static/discord.png" height="30" width="30" />
            </div>
            <p class="settings-inactive">Link Now</p>
        </div>

        <h4 class="settings-subtitle">Tasks</h4>
        <div class="settings-block">
            <p class="settings-name">Google Tasks</p>
            <p class="settings-active">Linked</p>
        </div>

        <h4 class="settings-subtitle">Events</h4>
        <div class="settings-block">
            <p class="settings-name">Google Calendar</p>
            <p class="settings-active">Linked</p>
        </div>

    </div>
</div>
