<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content export-modal">
        <h3 class="export-title">Export Tasks</h3>

        <div class="export-options">
            <select class="export-options-selector">
                <option>Google Calendar</option>
            </select>
            <button class="export-options-select-all" onclick="selectAll()">Select all</button>
            <button class="export-options-clear" onclick="deselectAll()">Clear</button>
        </div>

        <table class="mui-table mui-table--bordered">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Task</th>
                    <th>Deadline</th>
                </tr>
            </thead>

            <tbody id="task-export-table">
                {{ range $key, $value := .taskMap }}
                <tr class="export-row-unchecked">
                    <td>
                        <input type="checkbox" class="export-checkbox">
                    </td>
                    <td class="export-value">{{$value.Value }}</td>
                    <td>{{ $value.Pretty }}</td>
                    <input type="hidden" name="id-{{ $key }}" value="{{ $key }}" readonly>
                    <input type="hidden" name="deadline-{{ $key }}" value="{{ $value.Deadline }}" readonly>
                </tr>
                {{ end }}
            </tbody>

        </table>
        <input type="hidden" class="csrfField" name="csrf_token" value="{{ .csrfToken }}">

        <button id="modal-task-export-button" class="mui-btn mui-btn--raised modal-export-submit-button"
            onclick="exportTasks()" _="on click trigger closeModal" disabled>Export</button>

        <script>
            var exportSubmitButton = document.querySelector(".modal-export-submit-button")

            function enableExport() {
                var count = 0;
                for (var i = 0; i < taskExportTable.children.length; i++) {
                    count += taskExportTable.children[i].children[0].children[0].checked == true
                        ? 1 : 0;
                }
                exportSubmitButton.disabled = count == 0;
            }

            document.querySelectorAll('.export-checkbox').forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    const row = this.closest('tr');
                    if (this.checked) {
                        row.classList.add('export-row-checked');
                        row.classList.remove('export-row-unchecked');
                    } else {
                        row.classList.add('export-row-unchecked');
                        row.classList.remove('export-row-checked');
                    }

                    enableExport();
                });
            });

            var taskExportTable = document.getElementById("task-export-table");

            function selectAll() {
                for (var i = 0; i < taskExportTable.children.length; i++) {
                    taskExportTable.children[i].children[0].children[0].checked = true;
                }
            }
            function deselectAll() {
                for (var i = 0; i < taskExportTable.children.length; i++) {
                    taskExportTable.children[i].children[0].children[0].checked = false;
                }
            }

            function exportTasks() {
                var selectedTasks = [];
                const checkboxes = document.querySelectorAll('.export-checkbox:checked');

                checkboxes.forEach(function (checkbox) {
                    const taskRow = checkbox.closest('tr');
                    const taskName = taskRow.querySelector('.export-value').textContent;
                    const deadline = taskRow.querySelector('input[name^="deadline-"]').value;
                    selectedTasks.push({
                        value: taskName,
                        deadline: deadline
                    });
                });

                const jsonData = JSON.stringify(selectedTasks);
                const csrfToken = document.querySelector('.csrfField').value;
                fetch("/htmx/home/tasks/export", {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRF-Token": csrfToken
                    },
                    body: jsonData
                }).catch(err => console.error(err));


            }

        </script>
    </div>
</div>