<div class="card-header">
    <div class="card-filter-button">
        <select class="card-filter">
            <option onclick="filterTasks()"></option>
            {{ range .taskTags }}
            <option onclick="filterTasks('{{ . }}')">{{ . }}</option>
            {{ end }}
        </select>
    </div>
    <h3 class="card-title">Tasks</h3>

    <form class="export-div" hx-post="/htmx/home/tasks/export" hx-target="body" hx-swap="beforeend">
        {{ range .tasks }}

        <input type="hidden" name="value-{{ .Id }}" value="{{ .Value }}">
        <input type="hidden" name="deadline-{{ .Id }}" value="{{ .HTMLDeadline }}">
        <input type="hidden" name="pretty-{{ .Id }}" value="{{ .DisplayDeadline }}">

        {{ end }}

        <button type="submit" class="card-export-button">
            <img width="25" height="25" src="/static/exportYellow.png" />
        </button>
        {{ .csrfField }}
    </form>
</div>

<div id="task-card-content" class="card-content">
    {{ range .tasks }}

    <div id="task-{{ .Id }}" class="task-card-block card-block">
        <form hx-post="/htmx/home/tasks" hx-target="body" hx-swap="beforeend">
            <input type="hidden" name="id" value="{{ .Id }}" required></input>
            <div class="card-container">
                <b class="card-block-value">{{ .Value }}</b>

                <div class="card-date-container">
                    <label>Deadline:</label>
                    <b class="card-block-date">{{ .DisplayDeadline }}</b>
                </div>

                <div class="card-block-tags">

                    {{ range .Tags }}
                    <div class="card-tag" onclick="filterTasks('{{ . }}')">
                        <b>{{ . }}</b>
                    </div>

                    {{ end }}

                </div>

                <input type="hidden" name="value" value="{{ .Value }}" readonly required>
                <input type="hidden" name="deadline" value="{{ .DisplayDeadline }}" readonly required>
                <input type="hidden" name="localDeadline" value="{{ .HTMLDeadline }}" readonly required>
                <input type="hidden" name="tags" value="{{ .DisplayTags }}" class="card-hidden-tags" readonly required>
            </div>

            <div class="edit-container">
                <button type="submit">
                    <img src="/static/editYellow.png" width="25" height="25" />
                </button>
            </div>
            {{ $.csrfField }}
        </form>
    </div>

    {{ else }}

    <p>No tasks.</p>

    {{ end }}
</div>

<script>
    var taskCardTags = document.getElementById("task-card-content")
        .querySelectorAll(".card-hidden-tags");

    function filterTasks(target) {
        if (!target) {
            for (var i = 0; i < taskCardTags.length; i++) {
                taskCardTags[i].closest(".card-block").style.display = "block";
            }
            return
        }
        for (var i = 0; i < taskCardTags.length; i++) {
            taskCardTags[i].closest(".card-block").style.display =
                taskCardTags[i].value.includes(target) ?
                    "block" : "none";
        }
    }

</script>