<div id="task-{{ .Id }}" class="task-card-block card-block">
    <form hx-post="/htmx/home/tasks" hx-target="body" hx-swap="beforeend">
        <input type="hidden" name="id" value="{{ .Id }}" required></input>
        <div class="card-container">
            <b class="card-block-value">{{ .Value }}</b>

            <div class="card-date-container">
                <label>Deadline:</label>
                <b class="card-block-date">{{ .DisplayDeadline }}</b>
            </div>

            <div class="card-block-tags">

                {{ range .Tags }}
                <div class="card-tag" onclick="filterTasks('{{ . }}')">
                    <b>{{ . }}</b>
                </div>

                {{ end }}

            </div>

            <input type="hidden" name="value" value="{{ .Value }}" readonly required>
            <input type="hidden" name="deadline" value="{{ .DisplayDeadline }}" readonly required>
            <input type="hidden" name="localDeadline" value="{{ .HTMLDeadline }}" readonly required>
            <input type="hidden" name="tags" value="{{ .DisplayTags }}" class="card-hidden-tags" readonly required>
        </div>

        <div class="edit-container">
            <button type="submit">
                <img src="/static/editYellow.png" width="25" height="25" />
            </button>
        </div>
        {{ $.csrfField }}
    </form>
</div>