<p class="dots">...</p>
<div class="card-header">
    <div style="flex: 1;"></div>
    <h3 class="card-title">Todo List</h3>
    <div class="export-div">
        <img width="25" height="25" src="/static/exportYellow.png" />
    </div>
</div>
<div class="card-content">
    <h4 class="card-subtitle">Urgent</h4>
    {{ range .todos }}

    {{ if .Urgent }}
    <div id="todo-{{ .Id }}" class="card-block">
        <div class="card-container">
            <p class="card-block-point">{{ .Title }}</p>
            <p class="card-block-date">{{ .Date }}</p>
            <p class="card-block-notes">{{ .Description }}</p>
        </div>
        <div class="edit-container">
            <img src="/static/editYellow.png" width="25" height="25" />
        </div>
    </div>
    {{ end }}

    {{ else }}

    <span>No urgent tasks.</span>

    {{ end }}

    <h4 class="card-subtitle">Others</h4>
    {{ range .todos}}

    {{ if not .Urgent }}
    <div id="todo-{{ .Id }}" class="card-block" data-todoid="{{ .Id }}">

        <div class="card-container">
            <p name="title" class="card-block-point">{{ .Title }}</p>
            <p name="date" class="card-block-date">{{ .Date }}</p>
        </div>
        <div class="edit-container" onclick="getEditable(this)">
            <img src="/static/editYellow.png" width="25" height="25" />
        </div>
    </div>
    {{ end }}

    {{ else }}

    <span>No other tasks.</span>

    {{ end }}
    {{ .csrfField }}
</div>

<script>
    let csrfToken = document.getElementsByName("gorilla.csrf.Token")
    const saveButton = document.createElement("button");
    saveButton.className = "edit-container";
    saveButton.setAttribute("hx-post", "/htmx/home/todoCard");
    saveButton.setAttribute("hx-swap", "outerHTML");
    const saveImg = document.createElement("img");
    saveImg.src = "/static/disketteYellow.png";
    saveImg.height = "25";
    saveImg.width = "25";
    saveButton.appendChild(saveImg);

    function getEditable(e) {
        const cardContainer = e.previousElementSibling;
        const cardInfo = cardContainer.children;

        const newContainer = document.createElement("div");
        newContainer.className = cardContainer.className;
        newContainer.style.backgroundColor = "darkred";
        for (var i = 0; i < cardInfo.length; i++) {
            let newInput = document.createElement("input");
            newInput.type = "text";
            newInput.className = cardInfo[i].className;
            newInput.value = cardInfo[i].textContent;
            newInput.setAttribute("name", cardInfo[i].getAttribute("name"));
            newContainer.appendChild(newInput);
        }
        const id = cardContainer.parentElement.getAttribute("data-todoid");
        const newForm = document.createElement("form");

        const newId = document.createElement("input");
        newId.type = "hidden";
        newId.name = "id";
        newId.value = id;
        newForm.appendChild(newId);
        newForm.appendChild(csrfToken[0].cloneNode(true));
        newForm.appendChild(newContainer);
        const newButton = saveButton.cloneNode(true);
        newButton.setAttribute("hx-target", "#todo-" + id);
        //newButton.setAttribute("hx-trigger", "submit");
        htmx.process(newButton);
        newForm.appendChild(newButton);
        const todoBlock = cardContainer.parentElement;
        todoBlock.textContent = "";
        todoBlock.appendChild(newForm);
    }

</script>
