:root {


    /*
        fontFamily: {
            "primary": ["Roboto", "sans-serif"],

    color-scheme: light dark;
     */

    --dark-background-primary: #292929;
    --dark-background-secondary: #313131;
    --dark-background-tertiary: #494949;
    --dark-font-primary: #FFC658;
    --dark-font-secondary: #8D8D8D;
    --dark-font-tertiary: #FFFFFF;
    --dark-border-primary: #434343;
    --font-family-primary: "Roboto";
}

html {
    height: 100%;
}

body {
    background-color: var(--dark-background-primary);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0rem;
    min-height: 100%;
    font-family: var(--font-family-primary);
}

#header {
    border-bottom: 1px solid var(--dark-border-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0rem 0.75rem;
    height: 6rem;
}

#logo {
    color: var(--dark-font-primary);
    text-align: start;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0.5rem;
    cursor: pointer;
}

#copyright {
    color: var(--dark-font-secondary);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 2rem;
    transition: margin-left .5s;
}


#tab-list {
    width: 0rem;
    min-height: 100%;
    position: fixed;
    background-color: var(--dark-background-secondary);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

#tab-close {
    color: var(--dark-font-primary);
    align-self: flex-end;
    font-size: 2rem;
    cursor: pointer;
    margin: 1rem;
}

.tab {
    display: block;
    width: 90%;
    text-align: start;
    color: var(--dark-font-secondary);
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 0.5rem 0rem;
    border-bottom: 1px solid var(--dark-border-primary);
    margin: 0rem;
    transition: 0.3s;
}

.tab :hover {
    color: #F1F1F1;
}

.tab[aria-selected="true"] {
    background-color: var(--dark-background-tertiary);
}

#menu-icon {
    flex: 1;
    margin: 1rem;

    img {
        cursor: pointer;
    }
}

#logout-button {
    outline: none;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--dark-border-primary);
}

#tab-panel {
    width: 95%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0.5rem 0.5rem;
}

.card {
    flex: 1;
    background-color: var(--dark-background-secondary);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    margin: 0.5rem;
    min-width: 325px;
    padding: 1rem;
    height: fit-content;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.dots {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: white;
}

.card-header {
    color: var(--dark-font-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .card-export {
        flex: 1;
        margin-left: auto;
        text-align: end;
    }

    .card-title {
        text-align: center;
        flex: 1;
    }

    .export-div {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }
}

.card-content {
    width: 100%;
    height: auto;
}

.card-subtitle {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--dark-font-primary);
    padding: 0rem;
    margin: 0.75rem 0rem;
}

.card-block {
    font-size: 1rem;
    line-height: 1.5rem;
    border-bottom: 1px solid var(--dark-border-primary);
    width: 100%;

    ul {
        padding: 0rem 1rem;
    }

    li {
        color: var(--dark-font-secondary);
    }
}

.card-block:hover {
    background-color: var(--dark-background-tertiary);
}

.card-block-point {
    font-weight: 500;
    padding: 0rem;
    margin: 0.25rem 0rem;
    color: var(--dark-font-secondary);
}

.card-block-date {
    font-weight: 400;
    padding: 0rem;
    margin: 0.25rem 0rem;
    color: white;
}

.card-block-notes {
    font-weight: 400;
    padding: 0rem;
    margin: 0.25rem 0rem;
    color: var(--dark-font-secondary);
}

#settings-title,
#bots-title {
    flex: 1;
    color: var(--dark-font-primary);
    text-align: center;
}

#settings-panel,
#bots-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.settings-block,
.bot-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding: 0rem 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--dark-border-primary);
}

.settings-name,
.bot-name {
    color: white;
}

.settings-subtitle {
    align-self: flex-start;
    margin-left: 0.5rem;
    color: var(--dark-font-primary);
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.settings-active,
.settings-inactive,
.bot-active,
.bot-inactive {
    width: 6rem;
    border-radius: 9999px;
    line-height: 1.5rem;
    cursor: pointer;
    text-align: center;
    background-color: var(--dark-background-tertiary);
}

.settings-active,
.bot-active {
    color: var(--dark-font-primary);
}

.settings-inactive,
.bot-inactive {
    color: white;
}

#bot-new {
    flex: 1;
    background: none;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    button {
        background-color: var(--dark-background-tertiary);
        outline: none;
        border: none;
        border-radius: 9999px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    span {
        color: var(--dark-font-primary);
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin: 0.25rem;
    }
}

#bots-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#modal {
    /* Underlay covers entire screen. */
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    /* Flexbox centers the .modal-content vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Animate when opening */
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal>.modal-underlay {
    /* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#modal>.modal-content {
    /* Position visible dialog near the top of the window */
    margin-top: 10vh;

    /* Sizing for visible dialog */
    width: 80%;
    max-width: 600px;

    /* Display properties for visible dialog*/
    border: solid 1px #999;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color: var(--dark-background-secondary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: var(--dark-font-primary);
    }

    p {
        color: var(--dark-font-secondary);
    }

    a {
        margin: 1rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    button {
        margin-left: auto;
    }

    /* Animate when opening */
    animation-name: zoomIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing {
    /* Animate when closing */
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing>.modal-content {
    /* Animate when closing */
    animation-name: zoomOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}

#login-logo {
    color: var(--dark-font-primary);
    font-size: 3rem;
    line-height: 4rem;
}

#login-panel {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    p {
        color: var(--dark-font-secondary);
    }
}

.login-block {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 9999px;
    margin-top: 1rem;
    cursor: pointer;
}

.login-platform {
    color: black;
    margin-left: 1rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
}
