:root {
    /*
        fontFamily: {
            "primary": ["Roboto", "sans-serif"],

    color-scheme: light dark;
     */

    --dark-background-primary: #292929;
    --dark-background-secondary: #313131;
    --dark-background-tertiary: #494949;
    --dark-font-primary: #FFC658;
    --dark-font-secondary: #8D8D8D;
    --dark-font-tertiary: #FFFFFF;
    --dark-border-primary: #434343;
    --font-family-primary: "Roboto";
}

html {
    height: 100%;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--dark-background-primary);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0rem;
    min-height: 100%;
    font-family: var(--font-family-primary);
}

#header {
    border-bottom: 1px solid var(--dark-border-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0rem 0.75rem;
    height: 6rem;
}

#error-header {
    border-bottom: 1px solid var(--dark-border-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0rem 0.75rem;
    height: 6rem;
}

#logo {
    color: var(--dark-font-primary);
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

#copyright {
    color: var(--dark-font-secondary);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 2rem;
    transition: margin-left .5s;
}


#tab-list {
    width: 0rem;
    min-height: 100%;
    position: fixed;
    background-color: var(--dark-background-secondary);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 2rem 0rem;
}


.tab {
    display: block;
    width: 90%;
    text-align: start;
    color: var(--dark-font-secondary);
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-border-primary);
    margin: 0rem;
    transition: 0.3s;
}

#logout-button {
    color: darkred;
}

#logout-button:hover {
    color: red;
}

.tab:hover {
    color: #F1F1F1;
}

.tab[aria-selected="true"] {
    color: var(--dark-font-tertiary);
    background-color: var(--dark-background-tertiary);
}

#menu-icon {
    flex: 1;
    margin: 1rem;
    transition: 0.5s;
    background: none;

    img {
        cursor: pointer;
        transition: 0.5s;
        border-radius: 10px;
    }
}

#menu-icon:hover img {
    background-color: var(--dark-background-tertiary);
}


#tab-panel {
    width: 95%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0.5rem 0.5rem;
}

#tab-panel-indicator {
    flex: 1;
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.htmx-request #tab-panel-indicator {
    opacity: 1;
}

.htmx-request#tab-panel-indicator {
    opacity: 1;
}

.card {
    flex: 1;
    background-color: var(--dark-background-secondary);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    margin: 0.5rem;
    min-width: 325px;
    padding: 1rem;
    height: fit-content;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.dots {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: white;
}

.card-header {
    color: var(--dark-font-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;

    .card-export {
        flex: 1;
        margin-left: auto;
        text-align: end;
    }

    .card-title {
        text-align: center;
        flex: 1;
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin: 0rem;
    }

    .export-div {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;

        img {
            cursor: pointer;

        }
    }
}

.card-content {
    width: 100%;
    height: auto;
}

.card-subtitle {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--dark-font-primary);
    padding: 0rem;
    margin: 0.75rem 0rem;
}

.card-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0.5rem;

    input {
        width: 100%;
        font-size: 1rem;
        line-height: 1.5rem;
    }


    .card-date-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;

        b,
        label {
            color: var(--dark-font-tertiary);
            font-size: 1.125rem;
            font-weight: 500;
        }

        b {
            margin-left: 1rem;
        }
    }
}

.card-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-bottom: 1px solid var(--dark-border-primary);

    ul {
        padding: 0rem;
        margin: 0rem;
        width: 100%;

        li {
            margin: 0rem 1rem;
        }
    }
}

.card-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
    border-bottom: 1px solid var(--dark-border-primary);
    width: 100%;
    transition: opacity 500ms ease-in, height 500ms ease-in;


    ul {
        padding: 0rem 1rem;
    }

    li {
        color: var(--dark-font-secondary);
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    button {
        background: none;
        outline: none;
        border: none;
        margin: 0rem 1rem;
        padding: 0rem;
    }

}

.card-block-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
    transition: 0.5s;

    li {
        color: var(--dark-font-secondary);
    }
}
.card-block:hover {
    background-color: var(--dark-background-tertiary);

    .edit-container {
        opacity: 1;

        img,
        button {
            cursor: pointer;
        }
    }
}

.card-filter {
    /*
    background-color: var(--dark-background-tertiary);
*/
    appearance: none;
    background: url("./filterYellow.png");
    background-size: 25px;
    height: 25px;
    width: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    color: transparent;

    option {
        color: var(--dark-font-tertiary);
    }
}

.edit-container {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-block-point {
    background: none;
    outline: none;
    border: none;
    font-weight: 500;
    padding: 0rem;
    margin: 0.25rem 0rem;
    color: var(--dark-font-secondary);
}

.card-block-date {
    background: none;
    outline: none;
    border: none;
    font-weight: 400;
    padding: 0rem;
    margin: 0.25rem 0rem;
    color: white;
}

.card-block-notes {
    background: none;
    outline: none;
    border: none;
    font-weight: 400;
    padding: 0rem;
    margin: 0.25rem 0rem;
    color: var(--dark-font-secondary);
}

#settings-title,
#bots-title {
    flex: 1;
    color: var(--dark-font-primary);
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 500;
}

#settings-panel,
#bots-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


.settings-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--dark-border-primary);


    .settings-status{
        width: 6rem;
        border-radius: 9999px;
        line-height: 1.5rem;
        text-align: center;
        background-color: var(--dark-background-tertiary);
        margin: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-weight: 500;
    }

    .settings-active{
        color: var(--dark-font-primary);
    }

    .settings-inactive{
        color: white;
    }
}


.settings-subtitle {
    align-self: flex-start;
    margin-left: 0.5rem;
    color: var(--dark-font-primary);
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.5rem;
}


.settings-switch-container {
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        display: none;
    }
}


.settings-switch {
    width: 6rem;
    cursor: pointer;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}


.settings-switch:before {
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.settings-switch {
    background-color: #2196F3;
}

input:focus+.settings-switch {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.settings-switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.settings-icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    .settings-name{
        color: white;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.75rem;
        margin: 0rem;
    }

    img {
        margin-left: 0.5rem;
    }


}



#bot-new {
    background: none;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0.5rem;
    height: 2.5rem;
    background-color: var(--dark-background-secondary);
    cursor: pointer;
    transition: 0.5s;


    h3 {
        color: var(--dark-font-primary);
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin: 0.25rem;
    }
}

#bot-new:hover {
    background-color: var(--dark-background-tertiary);
}

#bots-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}

#bot-table {
    background-color: var(--dark-background-secondary);
    width: 100%;
}

#bot-table,
.bot-table-header-row,
.bot-table-row {
    border: 1px solid var(--dark-border-primary);
    border-collapse: collapse;
}

.bot-table-header-row,
.bot-table-row {
    padding: 1rem;
}

.bot-table-header-row {
    font-size: 1.25rem;
    border: 3px solid var(--dark-border-primary);
    color: var(--dark-font-primary);
}

.bot-table-row {
    color: var(--dark-font-tertiary);
}

#bot-search {
    height: 2.5rem;
    background-color: var(--dark-background-secondary);
    outline: none;
    border: 1px solid var(--dark-border-primary);
    margin: 0rem 1rem;
    width: 250px;
    color: var(--dark-font-tertiary);
    font-weight: 500;
    transition: 0.5s;
    border-radius: 10px;
    padding: 0.5rem;
}

#bot-search:hover {
    background-color: var(--dark-background-tertiary);
}

#modal {
    /* Underlay covers entire screen. */
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    /* Flexbox centers the .modal-content vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Animate when opening */
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal>.modal-underlay {
    /* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#modal>.modal-content {
    /* Position visible dialog near the top of the window */
    margin-top: 10vh;

    /* Sizing for visible dialog */
    width: 80%;
    max-width: 600px;

    /* Display properties for visible dialog*/
    border: solid 1px #999;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color: var(--dark-background-primary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h2 {
        margin: 0.5rem;
        color: var(--dark-font-tertiary);
    }

    .bot-modal-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-background-secondary);
        transition: 0.5s;
        border-radius: 15px;
        width: 180px;
        margin: 0.5rem 0rem;
        border: 1px solid var(--dark-border-primary);
        cursor: pointer;

        .bot-modal-name {
            font-size: 1.125rem;

        }
    }

    .bot-modal-button:hover {
        background-color: var(--dark-background-tertiary);
    }

    img {
        margin: 0.5rem;
    }

    p {
        color: var(--dark-font-secondary);
    }

    a {
        margin: 1rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    button {
        border: none;
        outline: none;
        background-color: darkred;
        color: #F1F1F1;
        font-size: 1.125rem;
        margin: 0.5rem 0rem;
        cursor: pointer;
        padding: 0.25rem;
        border-radius: 5px;
        align-items: center;
        text-align: center;
        line-height: 1.5rem;
    }

    button:hover {
        background-color: red;
    }

    button:disabled {
        background-color: var(--dark-background-tertiary);
    }

    /* Animate when opening */
    animation-name: zoomIn;
    animation-duration: 150ms;
    animation-timing-function: ease;

    form {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        legend {
            font-size: 1.5rem;
            line-height: 1.75rem;
            font-weight: 600;
            text-align: center;
            color: var(--dark-font-primary);
        }
    div {
        width: 100%;
        }
        label {
            color: var(--dark-font-secondary);
            width: 100%;
            font-size: 1rem;
            line-height: 1.25rem;
        
        }
        input {
            color: var(--dark-font-tertiary);
            width: 100%;
            
            font-size: 1.125rem;
            line-height: 1.5rem;
        }
    }
}

#modal.closing {
    /* Animate when closing */
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing>.modal-content {
    /* Animate when closing */
    animation-name: zoomOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}

#login-logo {
    color: var(--dark-font-primary);
    font-size: 3rem;
    line-height: 4rem;
}

#error-panel,
#login-panel {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    p {
        color: var(--dark-font-secondary);
    }
}

.login-block {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 9999px;
    margin-top: 1rem;
    cursor: pointer;
}

.login-platform {
    color: black;
    margin-left: 1rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
}
 
#tablist-underlay {
    position: absolute;
    z-index: -2;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0;
    background-color: #111111;
    transition: opacity 200ms ease-in;
}


#modal-event-date-warning {
    height: 0rem;
    opacity: 0;
    font-size: 1.125rem;
    transition: opacity 150ms ease-in, height 150ms ease-in;
}

@media (max-width:1281px) {
    /* hi-res laptops and desktops */

    body {
        background-color: red;
    }

}


@media (max-width:1025px) {
    /* big landscape tablets, laptops, and desktops */

    body {
        background-color: orange;
    }
}

@media (max-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

    body {
        background-color: yellow;
    }
}


@media (max-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

    body {
        background-color: green;
    }
}

@media (max-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

    body {
        background-color: blue;
    }
}

@media (max-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */


    body {
        background-color: whitesmoke;
    }
}




